.boardSpace {
    border: 5px solid blue;
    width: 200px;
    height: 200px;
    font-size: 50px;
    text-align: center;

}


.container {
    border: 5px solid green;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 1fr 1fr 1fr;
}
